docker/n8n-workflows/14-apify-lead-pipeline.json
{
  "name": "14-BRP Lead Pipeline - Apify to Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "mode": "id", "value": "={{$env.BRP_CONFIG_SHEET_ID}}" },
        "sheetName": { "mode": "name", "value": "Cities" },
        "options": {}
      },
      "id": "read-cities",
      "name": "Read Cities",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets BRP" } }
    },
    {
      "parameters": {
        "jsCode": "// Filter active cities only\nconst cities = $input.all().filter(item => {\n  const active = String(item.json.active).toUpperCase();\n  return active === 'TRUE' || active === 'YES' || active === '1';\n});\n\nreturn cities;"
      },
      "id": "filter-active-cities",
      "name": "Filter Active Cities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "mode": "id", "value": "={{$env.BRP_CONFIG_SHEET_ID}}" },
        "sheetName": { "mode": "name", "value": "Trades" },
        "options": {}
      },
      "id": "read-trades",
      "name": "Read Trades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 520],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets BRP" } }
    },
    {
      "parameters": {
        "jsCode": "// Filter active trades only\nconst trades = $input.all().filter(item => {\n  const active = String(item.json.active).toUpperCase();\n  return active === 'TRUE' || active === 'YES' || active === '1';\n});\n\nreturn trades;"
      },
      "id": "filter-active-trades",
      "name": "Filter Active Trades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 520]
    },
    {
      "parameters": {
        "jsCode": "// Generate all city x trade combinations\n// Cities come from input 0, Trades from input 1\nconst cities = $('Filter Active Cities').all();\nconst trades = $('Filter Active Trades').all();\n\nconst combos = [];\n\nfor (const city of cities) {\n  for (const trade of trades) {\n    const searchTerms = (trade.json.search_terms || trade.json.trade_name)\n      .split(',')\n      .map(t => t.trim())\n      .map(t => `${t} in ${city.json.city}, ${city.json.state} ${city.json.zip}`);\n\n    combos.push({\n      json: {\n        city: city.json.city,\n        state: city.json.state,\n        zip: city.json.zip,\n        region: city.json.region,\n        trade: trade.json.trade_name,\n        searchTerms: searchTerms,\n        maxResults: 50,\n        comboLabel: `${trade.json.trade_name} in ${city.json.city}, ${city.json.state}`\n      }\n    });\n  }\n}\n\nconsole.log(`Generated ${combos.length} city x trade combinations`);\nreturn combos;"
      },
      "id": "generate-combos",
      "name": "Generate Combos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "token", "value": "={{$env.APIFY_API_TOKEN}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": {{JSON.stringify($json.searchTerms)}},\n  \"maxCrawledPlacesPerSearch\": {{$json.maxResults}},\n  \"language\": \"en\",\n  \"maxImages\": 0,\n  \"scrapeDirectories\": false,\n  \"deeperCityScrape\": false\n}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "start-apify-run",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-initial",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/actor-runs/{{$('Start Apify Run').item.json.data.id}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "token", "value": "={{$env.APIFY_API_TOKEN}}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "check-run-status",
      "name": "Check Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.data.status}}",
                    "rightValue": "SUCCEEDED",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Succeeded"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.data.status}}",
                    "rightValue": "RUNNING",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Running"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.data.status}}",
                    "rightValue": "READY",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Ready"
            }
          ],
          "fallbackOutput": "Failed"
        },
        "options": {}
      },
      "id": "status-switch",
      "name": "Status Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{$('Start Apify Run').item.json.data.defaultDatasetId}}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "token", "value": "={{$env.APIFY_API_TOKEN}}" },
            { "name": "format", "value": "json" },
            { "name": "clean", "value": "true" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "get-dataset",
      "name": "Get Dataset Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Transform Apify results to our sheet columns and dedupe\nconst items = $input.all();\nconst combo = $('Process One at a Time').item.json;\nconst now = new Date().toISOString().split('T')[0];\n\n// Build results array\nconst results = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const d = item.json;\n  const phone = (d.phone || '').replace(/[^0-9+()-\\s]/g, '').trim();\n  const name = (d.title || '').trim();\n  \n  // Dedupe key: normalized phone + lowercase name\n  const dedupeKey = `${phone.replace(/\\D/g, '')}_${name.toLowerCase()}`;\n  if (seen.has(dedupeKey) && dedupeKey !== '_') continue;\n  seen.add(dedupeKey);\n\n  results.push({\n    json: {\n      business_name: name,\n      phone: phone,\n      email: (d.email || d.emails?.[0] || '').trim(),\n      website: (d.website || d.url || '').trim(),\n      address: (d.address || d.street || '').trim(),\n      city: d.city || combo.city || '',\n      state: d.state || combo.state || '',\n      trade: combo.trade || '',\n      rating: d.totalScore || d.rating || '',\n      review_count: d.reviewsCount || d.reviews || '',\n      google_maps_url: d.url || d.placeUrl || '',\n      source: 'Apify Google Maps',\n      date_scraped: now,\n      search_term_used: combo.comboLabel || '',\n      status: 'New',\n      notes: '',\n      outreach_date: '',\n      follow_up_count: '0'\n    }\n  });\n}\n\nconsole.log(`Transformed ${results.length} results for ${combo.comboLabel} (deduped from ${items.length})`);\nreturn results;"
      },
      "id": "transform-dedupe",
      "name": "Transform + Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "mode": "id", "value": "={{$env.BRP_RESULTS_SHEET_ID}}" },
        "sheetName": { "mode": "name", "value": "Results" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_name": "={{$json.business_name}}",
            "phone": "={{$json.phone}}",
            "email": "={{$json.email}}",
            "website": "={{$json.website}}",
            "address": "={{$json.address}}",
            "city": "={{$json.city}}",
            "state": "={{$json.state}}",
            "trade": "={{$json.trade}}",
            "rating": "={{$json.rating}}",
            "review_count": "={{$json.review_count}}",
            "google_maps_url": "={{$json.google_maps_url}}",
            "source": "={{$json.source}}",
            "date_scraped": "={{$json.date_scraped}}",
            "search_term_used": "={{$json.search_term_used}}",
            "status": "={{$json.status}}",
            "notes": "={{$json.notes}}",
            "outreach_date": "={{$json.outreach_date}}",
            "follow_up_count": "={{$json.follow_up_count}}"
          }
        },
        "options": {}
      },
      "id": "append-to-sheets",
      "name": "Append to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2500, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets BRP" } }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait 15s (Retry)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2060, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ntfy:80/n8n-pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "BRP Lead Pipeline Complete" },
            { "name": "Priority", "value": "high" },
            { "name": "Tags", "value": "white_check_mark,chart_with_upwards_trend" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=Pipeline finished. Processed all city x trade combos. Check Results sheet for new leads.",
        "options": {}
      },
      "id": "ntfy-success",
      "name": "Ntfy - Pipeline Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ntfy:80/n8n-errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "BRP Pipeline Error" },
            { "name": "Priority", "value": "urgent" },
            { "name": "Tags", "value": "x,warning" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=Apify run FAILED for combo: {{$('Process One at a Time').item.json.comboLabel}}. Status: {{$json.data.status || 'unknown'}}. Check Apify console.",
        "options": {}
      },
      "id": "ntfy-error",
      "name": "Ntfy - Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ntfy:80/n8n-errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "Apify Start Failed" },
            { "name": "Priority", "value": "urgent" },
            { "name": "Tags", "value": "x,rotating_light" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=Failed to start Apify run for: {{$('Process One at a Time').item.json.comboLabel}}. Error: {{$json.error || 'unknown'}}",
        "options": {}
      },
      "id": "ntfy-start-error",
      "name": "Ntfy - Start Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 600]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Read Cities", "type": "main", "index": 0 },
          { "node": "Read Trades", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Cities": {
      "main": [
        [{ "node": "Filter Active Cities", "type": "main", "index": 0 }]
      ]
    },
    "Read Trades": {
      "main": [
        [{ "node": "Filter Active Trades", "type": "main", "index": 0 }]
      ]
    },
    "Filter Active Cities": {
      "main": [
        [{ "node": "Generate Combos", "type": "main", "index": 0 }]
      ]
    },
    "Filter Active Trades": {
      "main": [
        [{ "node": "Generate Combos", "type": "main", "index": 0 }]
      ]
    },
    "Generate Combos": {
      "main": [
        [{ "node": "Process One at a Time", "type": "main", "index": 0 }]
      ]
    },
    "Process One at a Time": {
      "main": [
        [{ "node": "Ntfy - Pipeline Done", "type": "main", "index": 0 }],
        [{ "node": "Start Apify Run", "type": "main", "index": 0 }]
      ]
    },
    "Start Apify Run": {
      "main": [
        [{ "node": "Wait 30s", "type": "main", "index": 0 }],
        [{ "node": "Ntfy - Start Error", "type": "main", "index": 0 }]
      ]
    },
    "Ntfy - Start Error": {
      "main": [
        [{ "node": "Process One at a Time", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30s": {
      "main": [
        [{ "node": "Check Run Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Run Status": {
      "main": [
        [{ "node": "Status Check", "type": "main", "index": 0 }],
        [{ "node": "Ntfy - Error Alert", "type": "main", "index": 0 }]
      ]
    },
    "Status Check": {
      "main": [
        [{ "node": "Get Dataset Results", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s (Retry)", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s (Retry)", "type": "main", "index": 0 }],
        [{ "node": "Ntfy - Error Alert", "type": "main", "index": 0 }]
      ]
    },
    "Wait 15s (Retry)": {
      "main": [
        [{ "node": "Check Run Status", "type": "main", "index": 0 }]
      ]
    },
    "Get Dataset Results": {
      "main": [
        [{ "node": "Transform + Dedupe", "type": "main", "index": 0 }],
        [{ "node": "Ntfy - Error Alert", "type": "main", "index": 0 }]
      ]
    },
    "Transform + Dedupe": {
      "main": [
        [{ "node": "Append to Results Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Append to Results Sheet": {
      "main": [
        [{ "node": "Process One at a Time", "type": "main", "index": 0 }]
      ]
    },
    "Ntfy - Error Alert": {
      "main": [
        [{ "node": "Process One at a Time", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["lead-gen", "apify", "google-sheets", "pipeline"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "brp-lead-pipeline-v1"
  },
  "notes": "BRP Lead Pipeline v1 - Reads cities + trades from Config sheet, runs Apify Google Maps scraper for each combo, dedupes results, appends to Results sheet, sends Ntfy notifications. Credentials needed: Google Sheets OAuth2 + APIFY_API_TOKEN env var + BRP_CONFIG_SHEET_ID + BRP_RESULTS_SHEET_ID env vars."
}
